certifi==2024.2.2
charset-normalizer==3.3.2
ecdsa==0.19.0
enum-compat==0.0.3
idna==3.7
intuit-oauth==1.2.5
oauthlib==3.2.2
pyasn1==0.6.0
PyPDF2==3.0.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
python-dotenv==1.0.1
python-jose==3.3.0
pywin32==306
requests==2.31.0
requests-oauthlib==2.0.0
rsa==4.9
six==1.16.0
urllib3==2.2.1
